PORT=5000
DB_HOST=localhost
DB_INSTANCE=SQLEXPRESS
DB_NAME=ExamDutyDB
DB_USER=Imsha1
DB_PASSWORD=Sa@123456
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
CORS_ORIGINS=http://localhost:8081,http://localhost:19006
